input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  padding: 10px 20px;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--border);

  &::placeholder {
    opacity: 0.5;
  }
}

.input_wrapper {
  position: relative;
  font-size: 1.4rem;

  input:not(:is([type="checkbox"], [type="radio"])),
  select {
    width: 100%;
    padding: 26px 18px 10px;
    border: none;
    outline: none;
    background-color: var(--input-background, #fff);
    border-radius: 5px;
    border: 1px solid var(--border);
    max-width: 100%;
    width: 100%;
    font-size: inherit;

    &[type="file"] {
      border-style: dashed;
      background: #fff;
      cursor: pointer;
    }

    &:not([name="invite_url"])[disabled] {
      background-color: var(--gray-200);
      cursor: not-allowed;
    }
  }

  input::placeholder {
    opacity: 0;
  }

  select {
    padding: 18px 18px;
  }

  input:not(:is([type="checkbox"], [type="radio"]))+span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition-duration: 300ms;
    font-size: inherit;
    pointer-events: none;
    color: var(--gray-500);
  }

  &:has(input:focus)>span,
  &:focus-within>span,
  input:not(:placeholder-shown)+span {
    opacity: 0.9;
    font-size: 1.2rem;
    top: 1.5em;
  }

  input:is([type="checkbox"], [type="radio"]) {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 2px;

    +span {
      opacity: 1;
      vertical-align: middle;
    }
  }
}

.form_note {
  font-size: 1.4rem;
  line-height: 1.35;
  text-align: center;
  color: var(--gray-400);

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(0, 0, 0, 0.4);
  }

  @media (max-width: $sm) {
    small {
      display: none;
    }
  }
}

.input_columns.input_columns {
  gap: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $sm) {
    grid-template-columns: 100%;
  }
}