body,
p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.8rem;
}

.label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1em;
  display: block;
  color: var(--gray-400);
}