/* Global styles */
:root {
  --primary: #34e89e;
  /* any format you want here */
  --primary-darker: hsl(from var(--primary) h s calc(l - 5));
  --primary-darkest: hsl(from var(--primary) h s calc(l - 10));
  --secondary: #1c4657;
  --gradient: linear-gradient(230deg, var(--primary), var(--secondary));
  /* Shades of gray */
  --gray-100: hsl(0, 0%, 97%);
  /* Very light gray */
  --gray-200: hsl(0, 0%, 92%);
  /* Light gray */
  --gray-300: hsl(0, 0%, 80%);
  /* Soft gray */
  --gray-400: hsl(0, 0%, 60%);
  /* Medium gray */
  --gray-500: hsl(0, 0%, 50%);
  /* Normal gray */
  --gray-600: hsl(0, 0%, 35%);
  /* Dark gray */
  --gray-700: hsl(0, 0%, 25%);
  /* Very dark gray */
  --gray-800: hsl(0, 0%, 15%);
  /* Almost black */
  --border: var(--gray-300, #707070);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --text: var(--gray-600);
  --background: var(--gray-150, hsl(0deg 0% 94.96%));
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html .grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 1.8rem;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  background-color: #f8f8f8;
}
body.no_scroll {
  overflow: hidden;
}

*,
*::before {
  box-sizing: border-box;
}

/* ----- Headings ----- */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Comfortaa", "Arial", sans-serif;
  color: #14223b;
  margin: 0 0 20px 0;
  font-weight: 700;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  line-height: 1.3em;
}

h4,
.h4 {
  font-weight: 500;
  line-height: 1.4em;
}

p {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: #14223b;
}
@media screen and (max-width: 576px) {
  p {
    font-size: 1rem;
  }
}

/* ----- Buttons ----- */
.button {
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
  flex-shrink: 0;
  justify-content: center;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  background: var(--gradient, --primary);
  border-radius: 8px;
  padding: 12px 20px;
  transition: all ease-out 0.2s;
}
.button.outline {
  background: #ffffff;
  color: #14223b;
  font-weight: 500;
  box-shadow: inset 0 0 0 1px var(--border);
}
.button.outline:hover {
  background: #f3f5f9;
}
.button.basic {
  background: none;
  background-color: transparent;
  padding: 10px;
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 1.4rem;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
}
.button.basic:hover {
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
.button.arrow {
  padding: 17px 45px 17px 20px;
}
.button.arrow::after {
  content: "\e5c8";
  font-family: "Material Symbols Outlined";
  color: inherit;
  position: absolute;
  display: block;
  right: 20px;
  font-size: 1.25em;
  top: calc(50% - 10px);
}

/* ----- Containers ----- */
.container_full,
.container_wide,
.container,
.container_small,
.container_smaller {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.container_wide,
.container,
.container_small,
.container_smaller {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container_wide,
  .container,
  .container_small,
  .container_smaller {
    max-width: 100%;
    padding: 0 25px;
  }
}

.container_full {
  max-width: 100%;
  padding: 0;
}

.container_wide {
  max-width: 1400px;
}

.container {
  max-width: 1170px;
}

.container_small {
  max-width: 970px;
}

.container_smaller {
  max-width: 800px;
}

input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=email],
textarea,
select {
  font-size: 1.6rem;
  font-family: "Inter", "Arial", sans-serif;
  color: #14223b;
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
  outline-style: solid;
  outline-offset: -1px;
  outline-width: 2px;
  transition: outline-color ease-out 0.2s, margin-bottom ease-out 0.6s;
}
input[type=text]:not(:focus), input[type=text]:not(:focus-within), input[type=text]:not(:focus-visible),
input[type=password]:not(:focus),
input[type=password]:not(:focus-within),
input[type=password]:not(:focus-visible),
input[type=url]:not(:focus),
input[type=url]:not(:focus-within),
input[type=url]:not(:focus-visible),
input[type=tel]:not(:focus),
input[type=tel]:not(:focus-within),
input[type=tel]:not(:focus-visible),
input[type=email]:not(:focus),
input[type=email]:not(:focus-within),
input[type=email]:not(:focus-visible),
textarea:not(:focus),
textarea:not(:focus-within),
textarea:not(:focus-visible),
select:not(:focus),
select:not(:focus-within),
select:not(:focus-visible) {
  outline-color: transparent;
}
input[type=text].wpcf7-not-valid,
input[type=password].wpcf7-not-valid,
input[type=url].wpcf7-not-valid,
input[type=tel].wpcf7-not-valid,
input[type=email].wpcf7-not-valid,
textarea.wpcf7-not-valid,
select.wpcf7-not-valid {
  animation: hint 0.8s 1;
  animation-delay: 0.2s;
  outline-color: rgba(var(--response-color), 0.8);
}
@media screen and (max-width: 768px) {
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=tel],
  input[type=email],
  textarea,
  select {
    height: 40px;
    border: 1px solid #e4e3e3;
  }
}

select {
  padding: 0 30px;
  width: 100%;
}

textarea {
  height: unset;
  resize: none;
  padding: 12px 20px;
}

legend {
  font-family: "Comfortaa", "Arial", sans-serif;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #e4e3e3;
  margin-bottom: 1.5em;
  width: 100%;
}

.dropdown {
  transition: transform 0.1s ease-out;
}

.open > .dropdown {
  transform: rotate(90deg);
}

.variable,
code {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--gray-100);
  margin-inline: 2px;
  display: inline-block;
  user-select: none;
  color: var(--secondary);
  font-weight: 500;
  font-size: 1.4rem;
}

main:has(.settings) nav:first-child,
main:has(.home) nav:first-child {
  display: none;
}

.tiptap[contenteditable=true] {
  background-color: #fff;
  min-height: 300px;
  padding: 30px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  outline: none;
}
.tiptap[contenteditable=true] p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap[contenteditable=true] code {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--gray-100);
  margin-inline: 2px;
  display: inline-block;
  user-select: none;
}

[data-tooltip] {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
[data-tooltip]:before, [data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  user-select: none;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
  top: -10px;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  width: fit-content;
  text-overflow: ellipsis;
  padding: 8px 8px;
  line-height: 1.4;
  font-size: 12px;
  border-radius: 5px;
  background: var(--gray-700);
  color: #fff;
  z-index: 9;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  pointer-events: auto;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before, [data-tooltip][data-flow=top]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--text);
}
[data-tooltip]:not([data-flow])::after, [data-tooltip][data-flow=top]::after {
  bottom: calc(100% + 10px);
}
[data-tooltip]:not([data-flow])::before {
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}

[tooltip]:not([data-flow])::after {
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}

[data-tooltip][data-flow=top]::before, [data-tooltip][data-flow=top]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}
[data-tooltip][data-flow=top][data-source=deadline]::before, [data-tooltip][data-flow=top][data-source=deadline]::after {
  left: 25%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
}
[data-tooltip][data-flow=top][data-source=deadline]:hover::before, [data-tooltip][data-flow=top][data-source=deadline]:hover::after {
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}
[data-tooltip]:not([data-flow]):hover::before {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

[tooltip]:not([data-flow]):hover::after {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

[data-tooltip][data-flow=top]:hover::before, [data-tooltip][data-flow=top]:hover::after {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-tooltip][data-flow=bottom]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--text);
}
[data-tooltip][data-flow=bottom]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow=bottom]::before, [data-tooltip][data-flow=bottom]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow=left]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--text);
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow=left]::after {
  top: 50%;
  right: calc(100% + 10px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow=right]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--text);
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow=right]::after {
  top: 50%;
  left: calc(100% + 10px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}

[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}

.preview-content p:empty {
  display: flex;
  height: 1.5em;
}

input:not([type=checkbox]):not([type=radio]),
select,
textarea {
  padding: 10px 20px;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--border);
}
input:not([type=checkbox]):not([type=radio])::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: 0.5;
}

.input_wrapper {
  position: relative;
  font-size: 1.4rem;
}
.input_wrapper input:not(:is([type=checkbox], [type=radio])),
.input_wrapper select {
  width: 100%;
  padding: 26px 18px 10px;
  border: none;
  outline: none;
  background-color: var(--input-background, #fff);
  border-radius: 5px;
  border: 1px solid var(--border);
  max-width: 100%;
  width: 100%;
  font-size: inherit;
}
.input_wrapper input:not(:is([type=checkbox], [type=radio]))[type=file],
.input_wrapper select[type=file] {
  border-style: dashed;
  background: #fff;
  cursor: pointer;
}
.input_wrapper input:not(:is([type=checkbox], [type=radio])):not([name=invite_url])[disabled],
.input_wrapper select:not([name=invite_url])[disabled] {
  background-color: var(--gray-200);
  cursor: not-allowed;
}
.input_wrapper input::placeholder {
  opacity: 0;
}
.input_wrapper select {
  padding: 18px 18px;
}
.input_wrapper input:not(:is([type=checkbox], [type=radio])) + span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition-duration: 300ms;
  font-size: inherit;
  pointer-events: none;
  color: var(--gray-500);
}
.input_wrapper:has(input:focus) > span, .input_wrapper:focus-within > span,
.input_wrapper input:not(:placeholder-shown) + span {
  opacity: 0.9;
  font-size: 1.2rem;
  top: 1.5em;
}
.input_wrapper input:is([type=checkbox], [type=radio]) {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 2px;
}
.input_wrapper input:is([type=checkbox], [type=radio]) + span {
  opacity: 1;
  vertical-align: middle;
}

.form_note {
  font-size: 1.4rem;
  line-height: 1.35;
  text-align: center;
  color: var(--gray-400);
}
.form_note a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 576px) {
  .form_note small {
    display: none;
  }
}

.input_columns.input_columns {
  gap: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 576px) {
  .input_columns.input_columns {
    grid-template-columns: 100%;
  }
}

body,
p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.8rem;
}

.label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1em;
  display: block;
  color: var(--gray-400);
}

/*# sourceMappingURL=global.css.map */
